@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    
}




main{
    max-width: 1050px;
    margin: auto;
}

header{
    background-color: #bbbbbb;
    padding: 20px 0;

}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 22px;
}

nav a:hover{
    text-decoration: underline;
    color: #c78c19;
}

header  h1 {
    display: inline-block;
}

ul#produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

ul#produtos > li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    border: 5px solid black;
    border-radius: 10%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}
ul#produtos > li > h2 {
    height: 50px;
}


#produtos > li:hover{
    border-color:#c78c19;
    
}

#produtos > li:active{
    border-color:#088c19;
}

#produtos >  li:hover h2{
    font-size: 34px;
}

#produtos h2 {
    font-weight: bold;
    font-size: 30px;
}

#produtos .desc{
    font-size: 18px;
}

#produtos .valor{
    font-size: 22px;
    font-weight: bold;
    margin:10px;
}

#banner{
    width: 100%;
}

#sobre{
    background-color: #cccccc;
    text-align: center;
    padding: 30px;
}

#missao {
    font-size: 20px;
}

em strong{
    color: red;
}

h3{
    text-align: center;
    margin: 10px;

}

ul {
    display: inline-block;
    
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    margin-left: 20px;
}
.beneficios{
    padding: 20px;
}

.itens{
    font-style: italic;

}

.img_bene {
    
    width: 50%;
}

footer {
    text-align: center;
    background-image: url(../imagens\ produtos/bg.jpg);
    padding: 40px 0;
}

footer> .copy{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}